[
  {rabbit, [
     {ssl_listeners, [5671]},
     {ssl_options, [{cacertfile,"/home/vagrant/HumusAmqp/provision/tests/test_certs/cacert.pem"},
                    {certfile,"/home/vagrant/HumusAmqp/provision/tests/test_certs/cert.pem"},
                    {keyfile,"/home/vagrant/HumusAmqp/provision/tests/test_certs/key.pem"},
                    {verify,verify_none},
                    {fail_if_no_peer_cert,false}]}
   ]}
].
